:root {
    --backgroundcolor: #FFF9FB;
    --questionboxcolor: #3B1C32;
    --choicetextcolor: #D3D4D9;
    --headertextcolor: #4B88A2;
    --questioncolor: #5C573E;
    --hoverchoice: #CA054D;
}

* {
    font-family: 'PlayfairDisplay';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display:flex;
    align-content: flex-start;
    background-color: var(--backgroundcolor);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    flex-flow: wrap;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 36px 12px 36px;
    font-size: 24px;
    color: var(--headertextcolor);
    flex: 1 1 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

header a {
    text-decoration: none;
    color: var(--headertextcolor);
}

header a:hover {
    cursor:pointer;
}

header a:link {
    color: #465362;
}

#titletext {
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-direction: row;
    margin: 1%;
    padding: 0.5%;
    flex: 1 1 100%;
}

h2 {
    display:flex;
    flex: 1 1 100%;
    color: var(--questioncolor);
    flex-flow: wrap;
    font-size: 32px;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.form {
    display:none;
}

.form-d {
    display:flex;
}

#initials {
    padding: 1%;
    margin: 1.5%;
    font-size: 16px;
}

#submit {
    padding: 1%;
    margin: 1.5%;
    font-size: 16px;
}

#choicebox {
    display:flex;
    flex: 1 1 100%;
    justify-content: center;
    flex-flow: wrap;
}

#start:hover {
    cursor: pointer;
    background-color: var(--hoverchoice);
}

section button {
    display: flex;
    padding: 10px 20px 10px 20px;
    width: 150px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1 1 50%;
    max-width: 50%;
    color: var(--choicetextcolor);
    background-color: var(--questionboxcolor);
    font-size: 36px;
}

section ul {
    display:flex;
    flex: 1 1 100%;
    flex-flow: wrap;
    justify-content: center;
}

.question-no-display {
    display: none;
}

.question-choices {
    display: flex;
    font-size: 24px;
    flex: 1 1 50%;
}

.question-choices:hover {
    cursor: pointer;
    background-color: var(--hoverchoice);
}

#replay-nd {
    display:none;
}

#replay {
    display: flex;
}

#replay:hover {
    cursor: pointer;
}

#endgame {
    display:none;
}

#endgame-d {
    display:flex;
}

#foot {
    flex: 1 1 100%;
    text-align: center;
    font-size: 24px;
    color: #5e5c53;
    margin-top: 48px;
    padding-top: 36px;
}

footer {
    flex: 1 1 100%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 1.5%;
    border-top: 5px solid #5e5c53;
}

@media screen and (max-width: 768px) {
    header {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        flex: 1 1 100%
    }

    header a {
        font-size: 18px;
    }
}
